* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

th, td {
    padding: 10px;
}

th {
    background: #606060;
    color: white;
}

td {
    background: #b5b5b5;
}